
@if (!loading) {
    @if (news.length!=0) {
        <section>
            <article *ngFor="let noticia of news" class="mt-5 container">
                <div class="row">
                    <div class="col-12">
                        <h5><a [href]="noticia.link" target="_blank">{{noticia.title}}</a></h5>
                        <p>{{noticia.date}}</p>
                    </div>
                </div>
            </article>
        </section>
    }@else {
        <section class="d-flex centradoFlex">
            Primero seleccione sus temas de intereses
        </section>
    }
    
}@else {
    <div class="progress-bar">
        <div class="progress"></div>
    </div>
}