<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap">
<div class="disFlex margin flexRowsNoWrap header">
    <div class="disFlex container1 flexColsNoWrap">
        <div class="welcome disFlex flexRowsNoWrap">
            <h1>Welcome,</h1>
            <h3> Jhon Doe</h3>
        </div>
        <div class="disFlex options">
            <span class="material-symbols-outlined" (click)="setPage('home')">home</span>
            <span class="material-symbols-outlined" (click)="setPage('statistic')">insert_chart</span>
            <span class="material-symbols-outlined" (click)="setPage('add')">add_circle</span>
            <span class="material-symbols-outlined" (click)="setPage('news')">breaking_news</span>
            <span class="material-symbols-outlined" (click)="setPage('user account')">account_circle</span>
        </div>
    </div>
    <div class="disFlex centradoFlex chart">
        <h1>Estadística</h1>
    </div>
    <div class="logout disFlex">
        <span class="material-symbols-outlined" (click)="logout()">logout</span>
    </div>
</div>
@switch (this.page) {
    @case ('home') {
        <app-home></app-home>
    }
    @case ('statistic') {
        <p>Estadisticas</p>
    }
    @case ('add') {
        <p>Añadir</p>
    }
    @case ('news') {
        <p>Noticias</p>
    }
    @case ('user account') {
        <p>Cuenta de usuario</p>
    }
}
<!--<router-outlet></router-outlet>-->