section {
    width: 94%; 
    padding: 2%;
    border-radius: 15px;
}

.material-symbols-outlined {
    height: max-content;
    border-radius: 5%;
    user-select: none;
    cursor: pointer;
    font-size: 35px; 
    line-height: 1; 
    transition: transform 0.3s ease;
}

.material-symbols-outlined:hover {
    transform: scale(1.2); 
}

.selected{
    background-color: #0c2f46;
}

.home{
    background-color: #09f;
}

.ancho{
    width: 90vw;
    justify-self: center;
}
.imgBandera{
    width: auto;
    height: 100%;
}
.mecagoendios{
    justify-content: end;
    height: 3em;
}

.mecagoendios select{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;

    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;

}
.languageContainer{
    padding: 1%;
    background-color: #487898;
    border-radius: 2em;
    transition: all 1s;
    &:hover{
        transform: scale(1.05);
        text-decoration: underline;
    }
}
.mecagoendios select option{
    text-align: center;
    color: black;
    &:checked{
        background-color: #09f; 
        color: black;
    }
}
