div{
    width: 100%;
    height: 100%;
    padding: 2% 5%;
}

h1{
    margin: 0;
    font-size: 4em;
}

p{
    font-size: small;
    visibility: hidden;
    margin: 0;
}
form{
    min-width: 50%;
    max-width: max-content;
    height: max-content;
    border-radius: 8px;
    padding: 5% 10%;
    background-color: #114669;
    gap: 20px;
}



button{
    border-radius: 5px;
    padding: 2%;
    background-color: #09f;
    color: white;
    justify-self: center;
    align-self: center;
    width: 50%;

    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.589);

    &:active{
        box-shadow: none;
        transform: translateY(5px);
    }
}
