<app-header></app-header>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap">
<article class="container">
    <nav class="row">
        <div class="tipos_registros d-flex justify-content-around col-md-8 col-12">
            <a routerLink="bankAccount" routerLinkActive="active">Cuentas bancarias</a>
            <a routerLink="cryptoWallet" routerLinkActive="active">Criptomonedas</a>
        </div>
        <div class="search_bar col-md-4 col-12">
            <input type="text" [(ngModel)]="infoName" placeholder="Nombre">
            <button class="search_button">
                <span class="material-symbols-outlined" (click)="search(infoName)">search</span>
            </button>
        </div>
    </nav>
</article>
<section class=" row">
    <p class="col-lg-5 col-12">
        Finantra es la aplicación definitiva para gestionar todas tus finanzas en un solo lugar. Conecta tus cuentas bancarias y monederos de criptomonedas para obtener una visión completa de tu situación financiera. Analiza tus ingresos, gastos e inversiones con estadísticas y gráficos fáciles de entender, diseñados para ayudarte a tomar decisiones inteligentes. Finantra simplifica tus finanzas y te da el control total de tu dinero, estés donde estés.
    </p>

    <img class="col-lg-7 col-12" src="https://images.ecestaticos.com/SBix7JuKYG_dFjjI6A5sB7Y-Jac=/74x0:1189x829/996x747/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Ff1b%2F42b%2F413%2Ff1b42b4134006e638b05e1bbd69f0f9e.jpg" alt="img stonks" srcset="">
</section>
<router-outlet class="container"></router-outlet>
