<app-header></app-header>

<div *ngIf="bankAccounts.length > 0">
    <h2>Lista de Cuentas de Banco</h2>
    <ul>
      <li *ngFor="let account of bankAccounts; let i = index">
        <input type="checkbox" [(ngModel)]="selectedAccounts[i]" /> 
        <p><strong>Banco:</strong> {{ account.providerId }}</p>
        <p><strong>Número de cuenta:</strong> {{ account.iban }}</p>
        <p><strong>Notes:</strong> {{ account.notes }}</p>
      </li>
    </ul>
    <button (click)="addSelectedAccounts()">Añadir</button> 
  </div>
  
  <div *ngIf="bankAccounts.length === 0">
    <div class="progress-bar">
      <div class="progress"></div>
    </div>
    <a href="./home"><button>Volver</button></a>
  </div>
  