@if (this.cryptos.length != 0) {
    <section *ngFor="let crypto of cryptos" class="d-flex flex-row align-items-center border rounded p-3 mb-3">
        <div class="flex-grow-1">
          <article><strong>Name:</strong> {{ crypto.name }}</article>
          <article><strong>Symbol:</strong> {{ crypto.symbol }}</article>
          <article><strong>Current price:</strong> {{ crypto.currentPrice }}</article>
          <article><strong>Amount:</strong> {{ crypto.amount }}</article>
          <article><strong>Total value:</strong> {{ crypto.totalValue }}</article>
        </div>
    
        <div class="me-3">
          <img [src]="crypto.image" [alt]="'Image of ' + crypto.name" class="img-fluid rounded" style="max-width: 150px;" />
        </div>
    
        <div class="d-flex flex-column">
          <button class="btn btn-primary mb-2" (click)="selectCryptoForEdit(crypto)">Añadir</button>
          <button class="btn btn-danger" (click)="deleteCrypto(crypto.id)">Borrar</button>
        </div>
    </section>

    <div *ngIf="showAmountInput" class="modal fade show" id="modifyCryptoModal" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="color: black;"> <!-- Se aplica el color negro a todo el contenido -->
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modificar Crypto</h5>
              <button type="button" class="btn-close" (click)="showAmountInput = false" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Seleccionaste: {{ selectedCrypto?.name }} ({{ selectedCrypto?.symbol }})</p>
              <input type="number" #amount class="form-control" placeholder="Introduce la cantidad" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="addCrypto(selectedCrypto?.id, amount.value)">Añadir</button>
              <button type="button" class="btn btn-secondary" (click)="showAmountInput = false" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
    </div>  
} @else {
    <div class="progress-bar">
      <div class="progress"></div>
    </div>
}