section{
    margin-bottom: 1em;
    border: 1px solid white;
}

h3{
    transition: .5s color;
}

h3:hover{
    color: #09f;
    cursor: pointer;
}

label{
    color: black;
}
.modal{
    color: black;
    inset: 0;
    margin: auto;
    width: 50%;
    height: max-content;

    transition: opacity .15s ease-in-out;
    z-index: 9999;
}

button{
    height: max-content;
}

.terciario{
    color: white;
}
.aux{
    background-color: red;
}
.modalBodyMine{
    max-height: 15em;
    overflow-y: auto;
    padding: 1rem;
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
#trasaction{
    padding: 0;
    width: max-content;
    max-height: 80vh;
    overflow: auto;
}


.transaction-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
  }
  
  .transaction-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .transaction-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

.transaction-body {
    margin: 1rem 0;
    word-wrap: break-word;
}

.transaction-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
    padding-top: 0.5rem;
}
  
  .transaction-merchant {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
  }
  
  .transaction-date {
    font-size: 0.9rem;
    color: #666;
  }
  
  .transaction-description {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .transaction-details p {
    font-size: 0.9rem;
    color: #555;
    margin: 0;
  }
  
  .transaction-amount {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .transaction-amount.positive {
    color: #28a745;
  }
  
  .transaction-amount.negative {
    color: #dc3545;
  }
  
  .transaction-balance {
    font-size: 0.9rem;
    color: #666;
  }
  