<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap">
<div class="info disFlex">
    <div class="menu disFlex">
        <div class="tipos_registros disFlex">
            <a><p>Cuentas bancarias</p></a>
            <a><p>Criptomonedas</p></a>
            <a><p>Acciones</p></a>
        </div>
        <span class="material-symbols-outlined filter disFlex">tune</span>
        <div class="search_bar">
            <input type="text" class="search_text">
            <button class="search_button">
                <span class="material-symbols-outlined">search</span>
            </button>
        </div>
    </div>
</div>