a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.tipos_registros {
    flex: 1; 
    justify-content: space-between; 
    align-items: center; 
    background-color: aliceblue;
    border-radius: 5px;
}

.search_bar {
    display: flex;
    min-width: 5rem; 
    border-radius: 5px;
    overflow: hidden; 
}

.search_button {
    background-color: #007BFF;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    color: #D9D9D9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.search_button:hover {
    background-color: #0056b3;
}

.search_button .material-symbols-outlined {
    font-size: 20px;
}

/*??*/
.filter {
    flex: 0; 
    justify-content: center;
    align-items: center; 
    font-size: 30px;
    line-height: 1;
    background-color: black;
    color: white;
    border-radius: 5px; 
    padding: 5px;
}

.active{
    /*border-bottom: .2em solid #09f;*/
    animation: activado .5s linear forwards;
}


@keyframes activado {
    0%{
        border-bottom: 0em solid #09f;
    }

    100%{
        border-bottom: .2em solid #09f;
    }
}
