<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap">
<article class="container">
    <nav class="row">
        <div class="tipos_registros d-flex col-md-8 col-12">
            <a href="#" (click)="setTypeInformation('cuentas bancarias')">Cuentas bancarias</a>
            <a href="#" (click)="setTypeInformation('criptomonedas')">Criptomonedas</a>
            <a href="#" (click)="setTypeInformation('acciones')">Acciones</a>
        </div>
        <div class="search_bar col-md-4 col-12">
            <input type="text" [(ngModel)]="infoName" placeholder="Nombre">
            <button class="search_button">
                <span class="material-symbols-outlined" (click)="search(infoName)">search</span>
            </button>
        </div>
    </nav>
</article>
<router-outlet></router-outlet>


<!--borrar-->
<div class="d-flex flexColsNoWrap">

    <div class="infoType disFlex">
        <!-- Esto es para comprobar que funciona el cambio a cuentas bancarias, criptos o acciones -->
        @if (this.typeInformation == 'cuentas bancarias') {
            <p>Cuentas bancarias</p>
        } @else {
            @if (this.typeInformation == 'criptomonedas') {
                <p>Criptomonedas</p>
            } @else {
                <p>Acciones</p>
            }
        }
    </div>
    <div>
        <!-- Esto es para comprobar que funciona el buscador -->
        @if (this.infoName == '') {
            <p>No se ha buscado</p>
        } @else {
            <p>Si se ha buscado</p>
        }
    </div>
</div>
<!--borrar-->
